
body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  color: #fff;
}

nav {
  background: rgba(0, 0, 0, 0.7);
  padding: 15px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  background: url('images/banner.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero h1 {
  font-size: 90px;
  color: white;
  font-family: cursive;
}

.hero p {
  font-size: 1.5rem;
  color:white;
}

.page-title {
  text-align: center;
  font-size: 2.5rem;
  margin: 30px 0;
  
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 30px;
  text-align: center;
}
.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  padding: 40px;
  text-align: center;
}

.team-member {
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.team-member img {
  width: 100%;
  height: auto;
  max-height: 280px;
  object-fit: contain;
  border-radius: 10px;
  background-color: white; /* helps with transparency */
}

.team-member h3 {
  margin-top: 10px;
  font-size: 18px;
  color: #041c1f;
}


.menu-item img, .team-member img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
}

.about-text, .contact-info {
  max-width: 700px;
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
  padding: 20px;
}
.home {
  background: url('home.jpeg') no-repeat center center/cover;

}
.menu-page {
  background: url('images/menubg.jpg') no-repeat center center/cover;
}
.admin-page {
  background: url('images/adminbg.jpg') no-repeat center center/cover;
}
.about-page {
  background: url('images/about-bg.jpg') no-repeat center center/cover;
}
body.contact-page {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url('images/contact-bg.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 50px 20px;
  min-height: 100vh;
}

.contact-info, .contact-form {
  flex: 1 1 300px;
  margin: 20px;
}

.contact-info h1 {
  color: #f2c94c;
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 16px;
  margin: 10px 0;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: none;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 16px;
}

.contact-form button {
  background-color: #f2c94c;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 16px;
  color: #333;
}